venv/
app.db
.idea/
migrations/
*.pyc
__pycache__/
instance/
.env
.flaskenv
app/static/js/bootstrap.min.js
app/static/js/bootstrap.min.js.map
app/static/css/bootstrap.min.css
app/static/css/bootstrap.min.css.map
