<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Studnotes</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Main</a>
          </li>
            {% if not current_user.is_anonymous %}
              <li class="nav-item">
                <a class="nav-link" href="/">Deadlines</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/">Useful links</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" href="{{ url_for('logout') }}"> Logout </a>
              </li>
                {% if current_user.username in admins %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('group_view') }}">Groups</a>
                </li>
                {% endif %}
            {% endif %}
        </ul>
      </div>
    </nav>

    {% block content %}{% endblock %}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>