{% extends "navbar.html" %}

{% block content %}
    <div class="wrapper">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h1 class="" style="text-align: center;"> {{ current_queue.queue_name }} </h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <ul class="list-group" id="all_queues">
                    {% if queue_members %}
                        {%  for i in queue_members %}
                            <button type="button" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                               {{ loop.index }} - {{ i.username }}
                            </button>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
        <br>
        <br>
        <div class="row justify-content-center">
            <div class="col-md-6 rounded" style="box-shadow: 6px 4px 19px 0px rgba(0,0,0,0.75) !important; text-align: center; font-size: 25px; background-color: #485F6E; color: antiquewhite;" onclick="enter_to_queue({{ current_user.id }}, {{ current_queue.id }})" >Enter to queue</div>
        </div>
    </div>
{% endblock %}